/* Definiera upp de olika fargerna for ATC-koder */

        .panel-default > .panel-A {
            background: #d9534f;
            color: #fff; }
        .panel-default > .panel-B {
            background: #998C63;
            color: #fff; }
        .panel-default > .panel-C {
            background: #5cb85c;
            color: #fff; }
        .panel-default > .panel-D {
            background: #f0ad4e;
            color: #fff;
        }

        .panel-default > .panel-G {
            background: #399000;
            color: #fff; }
        .panel-default > .panel-H {
            background: #5cb85c;
            color: #fff; }
        .panel-default > .panel-J {
            background: #0BC9CD;
            color: #fff; }
        .panel-default > .panel-L {
            background: #520C04;
            color: #fff;
        }

        .panel-default > .panel-M {
            background: #000A01;
            color: #fff; }
        .panel-default > .panel-N {
            background: #A5C882;
            color: #fff; }
        .panel-default > .panel-P {
            background: #4E6766;
            color: #fff; }
        .panel-default > .panel-R {
            background: #DBC2CF;
            color: #fff;
        }

        .panel-default > .panel-S {
            background: #2E4756;
            color: #fff; }
        .panel-default > .panel-V {
            background: #7B1E7A;
            color: #fff; }
        /* ------------------------------ */