<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/color.css">
    <style>
        .pricing-table {
            margin: 1em 0 2em;
        }

        .pricing-table table {
            margin: 0;
        }

        .pricing-table .panel {
            text-align: center;
        }

        .pricing-table .panel:hover {
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
        }

        .pricing-table .panel-body {
            padding: 0px;
            text-align: center;
        }

        .the-price {
            background-color: rgba(220, 220, 220, .17);
            box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
            padding: 20px;
            margin: 0;
        }

        .the-price h1 {
            line-height: 1em;
            padding: 0;
            margin: 0;
        }

        .subscript {
            font-size: 25px;
        }

        .panel-title {
            text-align: left;
        }
        .container {
            margin:0px;
            border:0px;
        }
        .nopadding {
          padding: 0 !important;
          margin: 0 !important;
        }
    </style>
    <script src="../static/bootstrap-3.3.4-dist/js/jquery-2.1.3.min.js"></script>
    <script src="../static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
</head>

<!--<body> -->
{%  block body %}

<div class="container-fluid">

<div class="row pricing-table">

<!-- Create a loop through the list -->

{% for nplId in ids %}

    <div class="col-xs-3 col-md-3" >
    <div class="panel panel-default">
        <div class="panel-heading panel-{{ super_drug_list[nplId][0]['atcs'][0]['atcCode'][0] }}">

            <h3 class="panel-title">
                <!-- Vilket organ det verkar mot -->
                {{ atc_dict[super_drug_list[nplId][0]['atcs'][0]['atcCode'][0]] }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="the-price">
                <h1>
                    <span class="subscript">{{ super_drug_list[nplId][0]['distributedDrugs'][0]['tradeName'] }}</span>
                </h1>
                <small><em>{{ super_drug_list[nplId][0]['distributedDrugs'][0]['drugFormTextSv'] }}</em></small>
            </div>
            <table class="table">
                <tr>
                    <td>
                        {{ super_drug_list[nplId][0]['drug']['substanceGroupName'] }}<span class="badge">4</span>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                         {{ super_drug_list[nplId][0]['distributedDrugs'][0]['strengthText'] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ super_drug_list[nplId][0]['distributedDrugs'][0]['containsLactosFlag'] }}
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-sm {{ buttons[super_drug_list[nplId][0]['distributedDrugs'][0]['silPregnancyCode']] }}" role="button">
                            Graviditet
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-sm {{ buttons[super_drug_list[nplId][0]['distributedDrugs'][0]['silLactationCode']] }}" role="button">
                            Amning <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-sm {{ buttons[super_drug_list[nplId][0]['distributedDrugs'][0]['silLactationCode']] }}" role="button">
                            Doping - Fel
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- print historiska namn -->
                        {% for names in super_drug_list[nplId][1] %}
                            <p> {{ names }} </p>
                        {% endfor %}

                    </td>
                </tr>

                <tr>
                    <td>
                        <!-- print utbytbara läkemedel -->
                        {% for names in super_drug_list[nplId][3] %}
                            <p> {{ names }} </p>
                        {% endfor %}

                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>

{% endfor %}



<!-- ---- First card ---- -->
<div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-N">
            <h3 class="panel-title">
                Nervsystemet
            </h3>
        </div>
        <div class="panel-body">
            <div class="the-price">
                <h1>
                    <span class="subscript">Alvedon</span>
                </h1>
                <small><em>Brustabletter</em></small>
            </div>
            <table class="table">
                <tr>
                    <td>
                        Paracetamol <span class="badge"> 4 </span>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                         500 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        99:-
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-warning btn-sm" role="button">Graviditet</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Amning</a>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <span class="label label-success">Doping</span>
                        <!-- <a href="#" class="btn btn-success btn-sm" role="button">Doping</a> -->
                    </td>
                </tr>
                <tr>
                    <td>
                        my awes
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<!-- ---- Second card ---- -->
<div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-C">
            <h3 class="panel-title">
                Hjärta och krets
            </h3>
        </div>
        <div class="panel-body">
            <div class="the-price">
                <h1>
                    <span class="subscript">Eliquis</span>
                </h1>
                <small><em>Filmdragerad tablett</em></small>
            </div>
            <table class="table">
                <tr>
                    <td>
                        Apixaban
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        5 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        50:-
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Graviditet</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-success btn-sm" role="button">Amning</a>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-success btn-sm" role="button">Doping</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        My
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<!-- ---- Third card ---- -->
<div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-R">
            <h3 class="panel-title">
                Andningsorgan
            </h3>
        </div>
        <div class="panel-body">
            <div class="the-price">
                <h1>
                    <span class="subscript">Kestine</span>
                </h1>
                <small>Filmdragerad tablett</small>
            </div>
            <table class="table">
                <tr>
                    <td>
                        Ebastin
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        10 mg
                    </td>
                </tr>
                <tr>
                    <td>
                        199:-
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Graviditet</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Amning</a>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-success btn-sm" role="button">Doping</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        my awes
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<!-- ---- Fourth card ---- -->
<div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading panel-M">
            <h3 class="panel-title">
                Rörelseapparaten
            </h3>
        </div>
        <div class="panel-body">
            <div class="the-price">
                <h1>
                    <span class="subscript">NIPAXON</span>
                </h1>
                <small>1 month FREE trial</small>
            </div>
            <table class="table">
                <tr>
                    <td>
                        2 Accountss
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        5 Project
                    </td>
                </tr>
                <tr>
                    <td>
                        100K API Access
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Graviditet</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm" role="button">Amning</a>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        <a href="#" class="btn btn-success btn-sm" role="button">Doping</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        my awes
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>

</div> <!-- row -->

</div> <!-- container -->
<!-- </body> -->
{%  endblock %}
</html>