<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen"  href="../static/bootstrap-3.3.4-dist/css/jasny-bootstrap.min.css" >

    <!-- Color for ATC-code -->
    <link rel="stylesheet" type="text/css" href="../static/color.css">


    <!-- Javascript  -->
    <script src="../static/bootstrap-3.3.4-dist/js/jquery-2.1.3.min.js"></script>
    <script src="../static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.4-dist/lib/holderjs/holder.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.4-dist/lib/keen-js/dist/keen.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap-3.3.4-dist/js/meta.js"></script>

    <script>
        Holder.add_theme("white", { background: "#fff", foreground: "#a7a7a7", size: 10 });
    </script>
</head>
<body>

<div class="col-lg-12">
    <div class="panel panel-default" id="content-formatting">
        <div class="panel-heading panel-{{ super_drug_list[nplId][0]['atcs'][0]['atcCode'][0] }}">
            <!-- Vilket organ det verkar mot -->
            {{ atc_dict[super_drug_list[nplId][0]['atcs'][0]['atcCode'][0]] }}
        </div>

        <div class="media">
            <div class="pull-right">
                <a href="#">
                    <img class="media-object" data-src="holder.js/200x200/sky" alt="">
                </a>
            </div>
            <div class="media-body">

                <h2 class="media-heading"><span class="subscript">{{ super_drug_list[nplId][0]['distributedDrugs'][0]['tradeName'] }}</span></h2>
                <table class="table">
                    <tr>
                        <td>Substans: </td>
                        <td>{{ super_drug_list[nplId][0]['drug']['substanceGroupName'] }}</td>
                    </tr>
                    <tr>
                        <td>Pris:</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>Product B</td>
                        <td>400</td>
                    </tr>
                </table>
            </div>
        </div>


        <p class="lead">Vilka andra läkemedelsvaror innehåller samma substans?: </p>
         <!-- print utbytbara läkemedel -->
        {% for names in super_drug_list[nplId][3] %}
            <p> {{ names }} </p>
        {% endfor %}
        <p class="lead">Vilka andra substanser har likartad verkan? </p>
         <!-- print liknande substanser -->
        {% for names in super_drug_list[nplId][5] %}
            <p> {{ names }} </p>
        {% endfor %}
        <p class="lead">Vad kostar andra alternativ? </p>

            {% for storlek, pris in super_drug_list[nplId][7].iteritems() %}
                <p> En förpackning med <strong>{{ storlek }} </strong> kostar: {{ pris }} kr </p>
            {% endfor %}

        <!-- Success button with label -->
        <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Success</button>

        <p class="lead">Biverkningar? </p>

        <!-- print liknande substanser -->

        {% if "0" in super_drug_list[nplId][6].keys() %}

        <p> Det finns inga kända biverkningar för läkemedlet </p>
        {% else %}

            {% for key, value in super_drug_list[nplId][6].iteritems() %}
                <p> <strong>{{ key }} </strong> </p>
                {% for names in  value%}
                <p> {{ names }} </p>
            {% endfor %}
            {% endfor %}

            {% endif %}

        <p class="lead">Graviditet och amning?</p>

        <p class="lead">Doping? </p>

        <p class="text-muted">Särskilda anvisningar?</p>


        <!-- Viktigt från 1177 -->
        <p>
            <p class="lead">Vikigt</p>
Man får inte mer smärtlindring genom att ta en större dos än vad som står på förpackningen eller vad läkaren ordinerat. Om man tar en större dos än rekommenderat finns risk för att man kan få en allvarlig leverskada. Därför ska man inte heller ta Alvedon tillsammans med andra läkemedel som innehåller paracetamol, eftersom den sammanlagda dosen paracetamol kan bli för hög. Man ska kontakta läkare direkt om man har tagit för hög dos eftersom leverskadan märks först efter ett par dagar.

Om man missbrukar alkohol ökar risken för leverskada. Om man har alkoholproblem ska man inte använda läkemedel som innehåller paracetamol utan att först ha rådgjort med läkare.

Berusningseffekten av alkohol ökar inte genom att man tar paracetamol samtidigt.
        </p>


        <hr>
        <hr>
        <blockquote>Here's what a blockquote looks like in Bootstrap.
            <small>Use <code>small</code> to identify the source.</small>
        </blockquote>
        <hr>
        <hr>
        <pre>function preFormatting() {  // looks like this;  var something = somethingElse;  return true;}</pre>
    </div>
</div>

</body>
</html>